* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    width: 100%; /* Largura do card */
    height: 400px !important; /* Altura fixa do card */
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px !important;
    margin: 10px;
  
    position: relative; /* Para posicionar os elementos internos */
}

.card:hover {
    transform: rotateY(180deg);
}

.front-page,
.back-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px !important;
}

.front-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Faz a imagem cobrir o espaço sem distorção */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
    background-color: #000;
}

.card-info {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhorar a legibilidade */
    width: 100%;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-subtitle {
    font-size: 1rem;
    margin-top: 5px;
    color: #0fbcf9;
}

.back-page {
    background-color: #1e272e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-content {
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.card-content h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-description {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 20px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limita o texto a 3 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona reticências (...) */
}

.card-button {
    background-color: #0fbcf9;
    color: #fff;
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.card-button:hover {
    background-color: transparent;
    color: #0fbcf9;
    border: 1px solid #0fbcf9;
}