.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas por linha */
    gap: 20px; /* Espaçamento entre os cards */
}

@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas menores */
    }
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em tablets */
    }
}

@media (max-width: 480px) {
    .card-grid {
        grid-template-columns: 1fr; /* 1 coluna em dispositivos móveis */
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination span {
    margin: 0 10px;
}