body {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url('../assets/matriz.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Camada arco-íris translúcida */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
        135deg,
        rgba(255, 0, 0, 0.2) 0%,
        rgba(255, 0, 0, 0.2) 14.2%,
        rgba(255, 165, 0, 0.2) 14.2%,
        rgba(255, 165, 0, 0.2) 28.4%,
        rgba(255, 255, 0, 0.2) 28.4%,
        rgba(255, 255, 0, 0.2) 42.6%,
        rgba(0, 128, 0, 0.2) 42.6%,
        rgba(0, 128, 0, 0.2) 56.8%,
        rgba(0, 0, 255, 0.2) 56.8%,
        rgba(0, 0, 255, 0.2) 71%,
        rgba(75, 0, 130, 0.2) 71%,
        rgba(75, 0, 130, 0.2) 85.2%,
        rgba(238, 130, 238, 0.2) 85.2%,
        rgba(238, 130, 238, 0.2) 100%
    );
    pointer-events: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas por linha */
    gap: 20px; /* Espaçamento entre os cards */
}

@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas menores */
    }
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em tablets */
    }
}

@media (max-width: 480px) {
    .card-grid {
        grid-template-columns: 1fr; /* 1 coluna em dispositivos móveis */
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination span {
    margin: 0 10px;
}